
body {
    background-color: #f2f5f3;
    font-family: 'Alkatra', cursive;
    position: relative;
    padding-bottom: 12rem;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-top: 2px;
}

.img {
    width: 100%;
    float:right;
    border: 2px solid rgb(151, 151, 155);
    border-radius: 30px;
}

.img:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

div {
    text-align: center;
}

div a {
    transition: 0.3s ease;
    color: #5e5c64;
    text-decoration: none;
}

div a:hover {
    color:rgb(32, 75, 104);
}

.imgt{
    width: 100%;
    max-width: 65px;

}
.imgp{
    width: 100%;
    max-width: 500px;
}
.imgpp{
    width: 100%;
    max-width: 85px;
}

.scrollbar::-webkit-scrollbar{
    width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb{
    background: #E5B7D2;
    border-radius: 5px;
}

footer {
    background-color: #E5B7D2;
    padding: 3rem;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
h4 {
    color: black;
}
h5 {
    color: rgb(224, 188, 120);

}

.text-product{
    color: #252525;
    font-weight: 300;
    line-height: 1;
}

.text-product h3{
    color: inherit;
    font-weight: inherit;
    font-size: 20px;
}

.text-product h3:hover{
    color: #1bbeb4;
}

.text-product p{
    color: #666;
    font-size: 13px;
}
.caja{
    border: 2px solid rgb(151, 151, 155); 
    border-radius: 25px; 
    background-color: #fff;
}
.caja:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}